# PostgreSQL Database Connection String
DATABASE_URL="postgresql://username:password@localhost:5432/fees_hisab?schema=public"

# Authentication Secret (Generate using: openssl rand -base64 32)
AUTH_SECRET="your-32-character-or-longer-auth-secret"

# App Environment & Base URL
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
